a#filter {
    color: #333;
    font-size: 24px;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 20px;
}

		
.filter-label {
float: left;
margin-left: 10px;
}

.fltr-cover{
	background-image: linear-gradient(to bottom, #3F4196 0%, #3F4196 100%);
    padding: 1%;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

a#filter span {
    color: #FFF;
    font-size: 24px;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 20px;
}

a.dwn {
    background-image: url(../images/filter-up.png);
    background-repeat: no-repeat;
    background-position: right center;
}

a.up {
    background-image: url(../images/filter-dwn.png);
    background-repeat: no-repeat;
    background-position: right center;
}




a#filter {
color: #333;
font-size: 24px;
float: left;
text-transform: uppercase;
font-weight: bold;
padding-right: 20px;
}

.filter-label .filter-label-p{
    color: #ED3237 !important;
    border: 1px solid #e4e4e4;
   
    padding: 3px;
    font-weight: 400;
    width: 100px;
    font-size: 17px !important;
    background-color: #fff;
    text-align: center;
    text-transform: none;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}
.filter-srch {
    float: right;
}

.fltr-drop{
	margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eaeaea;
	
}
.fltr-drop-box{
	border: 1px solid #eaeaea;
    margin-top: 6px;
    border-top: 4px solid #ED3237;
    border-radius: 3px;
}
.fltr-drop-box h2{
	font-size: 30px;
    font-weight: 400;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 5px;
}
.fltr-drop-box h3{
	font-size: 22px;
    font-weight: 400;
    padding-bottom: 5px;
}
.fltr-drop-box p{
	font-weight: 400;
    font-size: 16px;
}
.fltr-drop-box1 p{
	font-weight: 400;
    font-size: 18px;
}
.drop-box {
	height: 375px;
    overflow: auto;
}
.drop-box1{
	height: 385px;
    overflow: auto;
}

.serch-box{
	margin-top:25px;
}
.search_container{
	width: 164px;
    margin: 0 auto;
    padding-left: 10px;
}

.search_container1 {
    width: 164px;
    margin: 0 auto;
    padding-left: 55px;
}

#serch-fltr-btn{
	background-color: #C4291C;
    color: #fff;
    padding: 5px 10px;
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
}


#serch-fltr-btn2{
	background-color: #C4291C;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    float: right;
    text-align: center;
}

.found_msg{
	font-weight: 600;
    font-size: 16px;
}

.filter-drop-down-box{
	display:none;
}

.filter_pro{
	
   
    background-color: #000 !important;
    color: #fff !important;
   
}

.filter_pro:hover{
	background-color: #000 !important;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
}