body {font-family: 'Source Sans Pro', sans-serif; background-color:#f3f3f3;}
.home-banner { background-image:url(../images/banner.jpg); background-repeat:no-repeat; background-position:center top; background-size:cover; min-height:673px; }
.commom-980 { width:980px; margin:0 auto;}
.row { padding:0px; margin:0px !important; }
.container-fluid { padding:0px; }
.container  { width:100%; }
.clr-left { padding-left:0px; }
.clr-right { padding-right:0px; }
.clr-top { padding-top:0px; }
.clr-top2 { margin-top:0px !important; }
.clr-bottom { padding-bottom:0px; }
.clr-all { padding:0px; }
.padding { padding:10px !important; display:block; }

.top-20 { padding-top:20px;}
.bottom-20 { padding-bottom:20px;}

.margin-left { margin-right:10px; }
.margin-bottom-10 { margin-bottom:10px !important; }
.margin-top-20 { margin-top:20px; }

.white-color { color:#FFF !important; margin:0px;}
.light-black { color:#2e2e2e;}
.red-color{ color:#d11538;}
.yellow-color { color:#fbfe00; }

.white-bg { background-color:#FFF;}
.mango-bg { background-color:#f7b431;}
.grey-bg { background-color:#e8e8e8;}
.red-bg {background-color:#d11538;}
.blue-bg {background-color:#004485;}
.dark-black-bg {background-color:#292929;}

.text-center { text-align:center; }
.text-right { text-align:right; }

h1 { font-size:40px;}
h2 {font-size:40px;}
h3 {font-size:40px;}
h4 {font-size:40px;}
h5 {font-size:24px;}
h6 {font-size:16px;}
a { text-decoration:none !important;  }

.bt { padding:8px 8px; font-size:14px; font-weight:600; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
a:hover.white-hover { color:#000 !important;  background-color:#FFF;}
a:hover.red-hover { color:#FFF !important;  background-color:#d11538; }

.red-bor { border:solid 1px #d11538; }
.grey-bor { border:solid 1px #000; }
.white-bor { border:solid 1px #FFF; }

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.nab-bg { padding:8px 5px; }
.navbar-nav { float:right; margin-top:26px; }
.navbar { margin-bottpm:0px; border:none; }
.navbar-default { background-color:transparent; border-color:transparent; }
.navbar-default .navbar-nav>li>a { color:#000; font-weight:500; font-size:15px; }
.nav>li>a {  padding: 10px 12px; }

.dropdown-menu.multi-column {
    width: 562px;
	margin-left:-100px;
}
  
.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-menu { min-width:220px; background-color:rgba(000,000,000,0.8); }
.dropdown-menu>li>a { color:#FFF;padding: 10px 20px;}
.dropdown:hover .dropdown-menu {-webkit-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;}
  


.fa-search { font-weight:700 !important; font-size:15px !important; color:000 !important; }
.social{ padding:10px; border:solid 1px #b8b8b8;
-webkit-border-radius: 47px;
-moz-border-radius: 47px;
border-radius: 47px; padding: 4px 9px !important;
  margin-left: 10px; margin-top:5px; color:#b8b8b8 !important; font-size: 14px !important;}
a:hover.social { color:#000 !important; border:solid 1px #000;}
   
.banner-title {
    width: 445px;
    font-weight: 300;
    padding-left: 47px;
    padding-top: 23px;
    padding-bottom: 20px;
    margin-top: 110px;
    margin-left: 290px;
    background-color: rgba(255,255,255,0.6);
}

.page-sub-title { font-weight:700; color:#2e2e2e; text-transform:uppercase;}
.lead { font-size:33px; line-height:1em; font-weight:300; }
.lead2 { font-size:24px; line-height:1em; font-weight:300; color:#7d7d7d; line-height:1.2em;}

#teatimonial,#map,#certi { margin-top:80px; }
#certi {margin-top: 21px}
.aboutus-box { min-height:215px; border-right:solid 14px #FFF; margin-top:-10px; } 
.editcontent {}
.editcontent p { font-size:16px; padding:0px; font-weight:300; line-height:1.2em; }
.list-style { margin:0px; padding:0px; list-style-type:none;}
.right-box { overflow:hidden; } 


.right-box  {
overflow:hidden;
min-height:232px;
position:relative;
}
.right-box:hover .image {
-webkit-transform:scale(1.3);
transform:scale(1.3);
}
.right-box .image {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

.home-project-title a { position:absolute; left:50%; top:50%; margin-left:-133px; width:160px; margin-top:41px; text-align:center; padding:15px 0px; font-weight:700; color:#FFF; background-color:rgba(209,21,56,0.80); font-size:16px; line-height:1em;}
.project-vioew-all { background-color:rgba(209,21,56,1); color:#FFF; min-height:267px; }
.no { font-weight:700; color:#d11538; font-size:90px; text-align:center;line-height: 0.7em;}
.no span { display:block; font-weight:300; font-size:14px; color:#000; text-transform:uppercase; color:#2e2e2e;}

.testi { color:#2e2e2e; font-size:24px; padding-top:10px;} 
.testi .name { font-weight:700; font-size:14px; padding-top:10px;}

.testi2 { color:#2e2e2e; font-size:14px; padding-top:10px;} 
.testi2 .name { font-weight:700; font-size:14px; padding-top:10px;}

.map-con { position:relative; margin-top:20px; }

.services-box1,.services-box2 { min-height:200px; border-bottom:solid 1px #FFF; border-right:solid 1px #fff; }
.services-box1 h6 { font-weight:700; }
.services-box1 a {  padding-top: 53px; display:block;}
.services-box1 .viewall { padding-top:90px; }

.media { margin-bottom:22px; }
.media-body h6 span { display:block; font-weight:300; font-size:14px; padding-top:5px; color:#7d7d7d; }
.media-body p { font-weight:300; line-height:1.1em; }




.sep { color:#000; text-align:left; padding-left:20px; padding-right:10px; }

/* INNER */

.breadcrumb { background-color:#a3a3a3; border-radius: 0px; }
.breadcrumb li a { color:#6a6a6a; padding-right:10px; }
.breadcrumb>.active { color:#FFF; }
.breadcrumb>li+li:before {  content: "/\00a0"; font-size:0px;}

.about-us-banner { min-height:465px; background-image:url(../images/about-us-banner.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }
.project-banner { min-height:465px; background-image:url(../images/project.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }
.ser-banner { min-height:465px; background-image:url(../images/service-page-banner.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }




.ser-banner1 { min-height:465px; background-image:url(../images/1-architecture.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }
.ser-banner2 { min-height:465px; background-image:url(../images/civil-structure.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }
.ser-banner3 { min-height:465px; background-image:url(../images/electrical-it.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }
.ser-banner4 { min-height:465px; background-image:url(../images/hvac-new.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }
.ser-banner5 { min-height:465px; background-image:url(../images/phe-new.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }
.ser-banner6 { min-height:465px; background-image:url(../images/fire-fighting.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }






.contact-banner { min-height:465px; background-image:url(../images/contact-banner.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }


.page-title { font-size:48px; font-weight:700; padding-top:15px; } 
.banner-sub-desc { font-size:28px; font-weight:300; line-height:1.2em; padding-top: 10px;}
.banner-sub-desc h2 { font-weight:700; font-size:48px; line-height:0.9em; }
.banner-sub-desc p { font-weight:300; }

.left-menu {}
.left-menu ul { margin:0px; padding:0px; list-style-type:none; }
.left-menu ul li { border:solid 1px #f1f1f1; border-left:none; border-bottom:none; }
.left-menu ul li:last-child {border-bottom:solid 1px #f1f1f1;}
.left-menu ul li a { font-size:16px; color:#929292; display:block; padding:20px 10px; text-transform:uppercase; font-weight:600; }
.left-menu ul li a:hover, .left-active { display:block; background-color:#b62027; color:#FFF !important; }


#middle-con { margin-top:30px; }
.lead3 { color:#2e2e2e; font-size:28px; line-height:1.2em; font-weight:300; padding-bottom:30px;}
.lead3-new { color:#2e2e2e; font-size:28px; line-height:1.2em; font-weight:300;}
.content-box {}
.content-box p { padding:0px; color:#000; font-weight:300; font-size:20px; line-height: 1.1em;  padding-bottom: 4px;}
.red-border { border-top:solid 3px #b62027; }
.content-left-pad { padding-left:15px; }

.red-tick { background-image:url(../images/red_tick.png); background-repeat:no-repeat; background-position:left 6px; padding-left:22px !important; }

.bord-member-wrp{ width:100%;}
.bord-mem-box{width:100%; position:relative;}
.bord-overlay{ width:100%; height:100%; background-image:url(http://www.semacconsultants.com/img/meet-blck-trans.png); background-repeat:repeat; background-position:0px 0px; position:absolute; top:0px; left:0px; padding-top:36%; display:none;}
.bord-overlay h2{ text-align:center; text-transform:uppercase; color:#fff; font-size:26px; line-height:30px; font-weight:700; margin:0px;}
.bord-overlay p{ text-transform:uppercase; text-align:center; color:#bbbbbb; font-size:14px; font-weight:300;}
span.meet-btn-knw{ text-decoration:none; width:130px; margin:0 auto; display:block; padding: 13px 0; border-radius: 3px; background-color:#fff; text-align:center; color:#2e2e2e; text-transform:uppercase; font-weight:700; font-size:14px;}
.bord-mem-box a:hover>.bord-overlay{ display:block;}

.our-team-head-wrp{ border-bottom:1px solid #e4e4e4;}
.our-team-wrp{ width:100%; padding-top:2%; padding-bottom:5%;}
.our-team-wrp h2{ text-transform:uppercase; font-weight:300; font-size:26px; color:#00aeef; margin:0px;}
.our-team-wrp h2 span{ font-weight:700;}
.team-wrp{ width:100%; padding-top:2%; position:relative;}
.team-block{ width:100%; position:relative; background-color:#e4e4e4; padding-bottom:15px; margin-bottom:10px;}
.team-block img {-webkit-transition: all 0.7s ease; transition: all 0.7s ease;}
.team-block a{ text-decoration:none; outline:none; outline-style:none;}
/*.team-block a:hover img {-webkit-transform:scale(1.1);transform:scale(1.1);}*/
.team-block h2{ padding-left:15px; color:#2e2e2e; font-size:18px; margin:0px; font-weight:700; padding-top:10%; background-image:url(../images/red_line.jpg); background-repeat:no-repeat; background-position:15px 10px; padding-top:18px; text-transform:uppercase;}
.team-block h3{ padding-left:15px; color:#000; font-size:16px; margin:0px; text-transform:uppercase;}
.team-block p.team-sub-ttle{ color:#818181; font-size:13px; padding-left:15px; font-weight:300; text-transform:uppercase;}
.profile-container{ width:100%; position:absolute; top:0px; left:0px; background-color:#114c97; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;  padding:10px; display:none; z-index:10;}
.profile-container .person-pic h2{ text-align:center; color:#fff; text-transform:uppercase; font-size:18px; margin:0px; font-weight:700; padding-top:10%;}
.profile-container .person-pic p{ text-transform:uppercase; color:#fff; font-size:14px; text-align:center; font-weight:300;}

.profile-container .closed-bt {
cursor: pointer;
width: 21px;
background-image: url(../images/closed.png);
background-repeat: no-repeat;
background-position:0px 0px;
height: 22px;
position: absolute;
right: 3px;
top: 6px;
z-index:99;
}

.person-desc{  padding-bottom:5%; height:400px; overflow:hidden;}
.person-desc p{ text-align:left; font-weight:400; color:#fff; font-size:16px; line-height:22px; padding-right:3%;}

h2.team-quote-big-txt{ text-align:center; font-style:italic; font-weight:700; font-size:20px; color:#fff; padding-bottom:2%; padding-right:8%;}
.scrll-box{ height:350px;}


.dark-blk {  background-color:#2d2c2c;  }
.slider-right {color:#FFF; padding:10px 15px;}
.slider-right h2 { font-size:16px; font-weight:700; text-transform:uppercase; background-image:url(../images/white_line.jpg); background-repeat:no-repeat; background-position:left bottom; padding-bottom:15px; }
.inner-project-title { font-weight:300; font-size:24px; line-height: 1em; margin-bottom:10px;}
.slider-right p { font-size:18px; display:block; margin-bottom:8px; color:#7d7d7d;}
.slider-right p span { display:block; font-weight:700; font-size:24px; color:#FFF;}

.address { margin-bottom:20px; font-size:16px; font-weight:300; }
.address h2 { font-size:20px; font-weight:700; background-color:#004b8f; color:#FFF; padding:5px 12px; margin-top:0px; }
.address p { padding:0 10px; }
 
 
 
#footer { color:#FFF; font-size:14px; font-weight:300; padding-bottom:5px; padding-top:5px; margin-top: 40px;}
#footer a { color:#FFF; padding-left:5px; padding-right:5px;}
#footer .terms { padding-top:5px; }
#footer .terms a { font-size:13px; }

.address-cont  { 
padding: 0 10px;
}
.address-cont  p{
margin-bottom: 0px;
   padding: 0px;
}

.commom-980 .col-md-12 .row .col-md-8{background: rgba(0,0,0,0.6);}