
/* --------------------------------------------------
	:: Mobile Grid
	-------------------------------------------------- */
	
	/* Tablet screens */
	@media only screen and (device-width: 768px), (device-width: 800px) {
		/* Currently unused */
	}
	
	
	/* Mobile */
	@media only screen and (max-width: 767px) {		
		body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
		.container { min-width: 0; margin-left: 0; margin-right: 0; }
		.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
		.row .row .column, .row .row .columns { padding: 0; }
		.column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
		.column:last-child, .columns:last-child { margin-right: 0; }
		
		.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .centered { margin-left: 0 !important; }
		
		.push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
		.pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
		
		/* Mobile 4-column Grid */
		.row .phone-one.column:first-child, .row .phone-two.column:first-child, .row .phone-three.column:first-child, .row .phone-four.column:first-child, .row .phone-one.columns:first-child, .row .phone-two.columns:first-child, .row .phone-three.columns:first-child, .row .phone-four.columns:first-child { margin-left: 0; }
		
		.row .phone-one.column, .row .phone-two.column, .row .phone-three.column, .row .phone-four.column,
		.row .phone-one.columns, .row .phone-two.columns, .row .phone-three.columns, .row .phone-four.columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; padding: 0; }
		
		.row .phone-one.columns 	{ width: 21.68% !important; }
		.row .phone-two.columns 	{ width: 47.8% !important; }
		.row .phone-three.columns 	{ width: 73.9% !important; }
		.row .phone-four.columns 	{ width: 100% !important; }
		
		.row .columns.push-one-phone { left: 26.08%; }
		.row .columns.push-two-phone { left: 52.2% }
		.row .columns.push-three-phone { left: 78.3% }
		
		.row .columns.pull-one-phone { right: 26.08% }
		.row .columns.pull-two-phone { right: 52.2% }
		.row .columns.pull-three-phone { right: 78.3%; }
		
		/* =Dynamic Widget Grid 
		--------------------------------*/
		.widget_row  { 
			width: 100%; 
			margin: 0 auto; 
			float: left; 
			max-width: 980px;
			}
			
		.widget_row .widget { float: left; min-height: 1px; position: relative; margin:20px 0 0 0;}
		.widget_row .widget:first-child { margin-left: 0; }
		
		.widget_row .widget_1,
		.widget_row .widget_2,
		.widget_row .widget_3,
		.widget_row .widget_4,
		.widget_row .widget_5,
		.widget_row .widget_6 { width: 100%; }
  	}

	
/* --------------------------------------------------
	:: Block Grids
	-------------------------------------------------- */	
	
	@media only screen and (max-width: 767px) {
		.block-grid.mobile { margin-left: 0; }
		.block-grid.mobile li { float: none; width: 100%; margin-left: 0; }
	}
	
	

/* -------------------------------------------------- 
	:: Mobile Visibility Affordances
---------------------------------------------------*/
	
	.show-on-phones { display: none !important; }	
	.show-on-tablets { display: none !important; }
	.show-on-desktops { display: block !important; }
	
	.hide-on-phones { display: block !important; }	
	.hide-on-tablets { display: block !important; }
	.hide-on-desktops { display: none !important; }
	
	
	@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
		.hide-on-phones { display: block !important; }
		.hide-on-tablets { display: none !important; }
		.hide-on-desktops { display: block !important; }
		
		.show-on-phones { display: none !important; }
		.show-on-tablets { display: block !important; }
		.show-on-desktops { display: none !important; }
	}
	
		
	@media only screen and (max-width: 767px) {
		.hide-on-phones { display: none !important; }
		.hide-on-tablets { display: block !important; }
		.hide-on-desktops { display: block !important; }
		
		.show-on-phones { display: block !important; }
		.show-on-tablets { display: none !important; }
		.show-on-desktops { display: none !important; }
	}
	
	/* only screen and (device-width: 1280px), only screen and (max-device-width: 1280px),  /*
	/* Keeping this in as a reminder to address support for other tablet devices like the Xoom in the future */
	
	/* Specific overrides for elements that require something other than display: block */
	
	table.show-on-desktops { display: table !important; }
	table.hide-on-phones { display: table !important; }	
	table.hide-on-tablets { display: table !important; }
	
	@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
		table.hide-on-phones { display: block !important; }
		table.hide-on-desktops { display: block !important; }
		table.show-on-tablets { display: block !important; }
	}
	
	@media only screen and (max-width: 767px) {
		table.hide-on-tablets { display: block !important; }
		table.hide-on-desktops { display: block !important; }
		table.show-on-phones { display: block !important; }
	}
	
	
/* -------------------------------------------------- 
	:: Forms
---------------------------------------------------*/	

	@media only screen and (max-width: 767px) {
		textarea { display: block; width: 96%; padding: 6px 2% 4px;  }
	}
	
/* -------------------------------------------------- 
	:: End Mobile Grid
---------------------------------------------------*/


#responsive-nav form.custom div.custom.dropdown {
	height: 25px;
	margin: 9px auto 9px auto;
 	width: 100% !important;
 	}

#responsive-nav form.custom div.custom.dropdown a.current{
	background: #2c2f31;	
  	line-height: 36px;
	min-height: 36px;
	padding: 0 38px 0 15px;
	border: solid 1px #2c2f31;
	color: #aeb2b9;
  	}

#responsive-nav form.custom div.custom.dropdown a.selector {
 	width: 36px;
	height: 36px;
 	background: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/mobile-nav-drop.png) 50% 50% no-repeat;
 	border: solid 1px #2c2f31;
 	border-left: solid 1px #fff;
	}
	
#responsive-nav form.custom div.custom.dropdown ul li.selected {
	background: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/custom-form-sprites.png) right -48px no-repeat;
	}

#responsive-nav form.custom div.custom.dropdown ul li.selected:hover {
	background: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/custom-form-sprites.png) #2A85E8 right -75px no-repeat;
	}
	
#responsive-nav form.custom div.custom.dropdown ul {
 	width: 100% !important;
 	margin: 0;
 	top: 39px;
 	background-color: #2c2f31;
 	border: none;
 	z-index: 99999;
	}

#responsive-nav form.custom div.custom.dropdown ul li:hover {
	background-color: #2A85E8;
	color: white;
	}
	 
#responsive-nav  form.custom div.custom.dropdown ul li {
	cursor: pointer;
	padding: 8px 38px 8px 15px;	
	color: #aeb2b9;
	border-top: 1px solid #393c3e;
	}

/* --------------------------------------------------
 	:: =Mobile
 	-------------------------------------------------- */
 	/* =Tablets*/		
 	
 	@media only screen and (max-width: 800px) {
 	
 		/* =Portfolio Items */
 	    	
 		.format-audio div.jp-audio div.jp-type-single a.jp-play, 
 		.format-audio div.jp-audio div.jp-type-single a.jp-pause, 
 		.portfolio.audio div.jp-audio div.jp-type-single a.jp-play, 
 		.portfolio.audio div.jp-audio div.jp-type-single a.jp-pause { }
 		
 		/*Portfolio*/
 		#stage, #stage.withsidebar { min-width: 100%; }
 		
 		.page-grid-item, 
 		.page-grid-item.three-columns, 
 		.page-grid-item.two-columns, 
 		.page-grid-item.four-columns {
 			width: 46% !important;
 			height: 200px;
  			overflow: hidden;
 		}
		
		/*Back topTop*/
		#toTop { display: none !important;}
		
		/*Sliders*/
		.radium-slider .flex-direction-nav, 
		.post-slider .flex-direction-nav {display: none;}
		
		.radium-slider .flex-control-nav,
		.post-slider .flex-control-nav { display: none;}
 	}
 	
 	
 	/* =Mobile */
 	
	@media only screen and (max-width: 767px) {		
 		
 		.row { min-width: 0; }
 		
 		[class*="column"] + [class*="column"]:last-child { float: none; }
 			
 		body { background: #fff !important; background-image:none!important;	}
 		
 		#header { padding-top: 0 !important; }
 			
 		.container {
 			background-image:none;
 			margin: 0 auto;
 			padding: 0 20px;
 			}
  		
  		#top { padding: 15px 0 0 0; }

 		#branding {
 			width: 100% !important;
 			text-align: center;
 			margin-bottom: 0;
 			}
 			
 		#navigation { border-bottom: none; }
 		
 		#responsive-nav select{
 			height: 40px;
 			width: 100%;
 			position: relative;
 			display: block;
 			margin-bottom: 0;
 			}
  		
 		/* =Content */
 		#main { 
 			margin: 0 0; 
 			padding-top: 0;
 			max-width: 100%;
 			}
   				
 		.navigation { margin-bottom: 10px;}
 		
 		#sidebar { display: none; }
 		
  		section.type-post {
 			padding: 0 0 20px 0;
 			max-width: 100%;
 			}
 			
 		span.post-format { display: none; }
 		
  		section .share-post .twitter-share, 
  		section .share-post .facebook-like, 
  		section .share-post .pinit, 
  		section .share-post .gplus { clear: both; }
  		
  		/* Comments */
  		.single-post #comments {
  			padding-left: 0;
   			max-width: 100%;
  			}
  		
  		#commentform textarea { width: 93.5%; }
  		
 		/* =Slider*/
 	 			
 		/* =Audio Post Format */
 		 
 			
  		/*Portfolio*/
  		#filter { display: none; }
  			
 		#stage, #stage.withsidebar { min-width: 100%; }
		
		[class*="two-columns"] + [class*="two-columns"]:last-child, 
		[class*="three-columns"] + [class*="three-columns"]:last-child, 
		[class*="four-columns"] + [class*="four-columns"]:last-child { float: none; }
 		
 		 .page-grid-item, 
 		 .page-grid-item.three-columns,
 		 .page-grid-item.two-columns, 
 		 .page-grid-item.four-columns {
 			width: 100% !important;
 			max-width: 280px;
  			height: 240px;
 			display: block;
 			clear: both;
 			overflow: hidden;
 			margin: 0 auto !important;
 			float: none;
 			}
 		
 		.portfolio .entry-meta, .portfolio .entry-content { margin-left: 0; }
 		
 		.portfolio .entry-content-media { margin-bottom: 0; }
 		
 		.portfolio  .navigation { display: none; }
 					
 		/* Team */
 		.team .content {
 			float: left !important;
 			margin-top: 10px;
 			}
 			
 		/* Widgets */
 		.quickcontact-submit { width: 100%; }
		
		.quickcontact textarea, 
 		.quickcontact input[type="email"],
 		.quickcontact input[type="text"],
 		.quickcontact input[type="password"] { width: 96% !important; }
 			
 			/* input */
 		form .input { width: 98%; }
 		
 		form label {
 		    display: block;
 		    width: 100%;
 		    margin-bottom: 5px;
 		    }
 		    
 		.input-small, input.small, textarea.small, select.small { width: 100%; }
 			
 		.input-medium, input.medium, textarea.medium, select.medium { width: 96%; }
 		/* Footer*/
 		.footer_widget { margin-bottom: 0; padding-bottom: 0; }
 		
 		.footer_widget form { margin-bottom: 0; }
 			
 		.footer_widget .quickcontact .input { margin-bottom: 0; }
 		
 		#footer-bar p {
 			margin: 0 auto;
 			text-align: center;
 			width: 100%;
 			}
 			
 		/*Back topTop*/
 		#toTop { display: none !important;}
 
 	}
 	
 	/* =Tablet screens */
 	@media only screen and (device-width: 768px), (device-width: 800px) {
 		
 	}
 	
 	/* =Tablet screens (portrait  mode)*/
 	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
		/* Styles */
		
		.row { max-width: 768px; /*overflow-y: hidden !important; */ }
		
		#navigation { max-width: 630px; }
		
		#sidebar {
			width: 180px;
			overflow: hidden;
			}
		 
		#sidebar .searchform input.s { width: 83% !important; }
			
		#sidebar .social-bar { width: 180px; }
			
		#sidebar .flicker-image-wrapper { width: 180px; }
		
		#main .row { overflow-x: hidden; }
		
		#radium_foobar { display: none!important; }
		
		#header { padding-top: 0 !important; }
		
		#navigation {   } 
		
		.main_menu .radium_mega > li {
			padding-left: 10px;
			padding-right: 10px;
			}
				
		/* Shortcodes */
		.cta-wrapper .cta-content { width: 66% !important; }
  			
		.cta-wrapper .cta-tag-line { margin: 5px 0 0 3px !important; }
 		
 		.jcarousel-item { margin-right: 33px !important; }			
 		
 		.with-sidebar .jcarousel-item { margin-right: 95px !important; }			
  		
 		.clients li {
 	 		margin-right: 4px !important;
  			margin-left: 4px !important;
 			}
 				
		/* Sliders */	
   		.radium-slider .flex-control-nav,
   		.post-slider .flex-control-nav { bottom: 6px; display: block;}
   		
   		.radium-slider article header {
   			padding: 15px 25px;
   			height: auto;
   			}
   			
   		.radium-slider article header h1, 
   		.radium-slider article header h2, 
   		.radium-slider article header h3, 
   		.radium-slider article header h4 {
   			color: #E6E8EB;
   			line-height: 15px;
   			font-size: 13px;
   			margin-bottom: 10px;
   			margin-top: 2px;
   			}
   		
   		.radium-slider article .entry {
   			line-height: 18px;
   			font-size: 12px;
   			}
   		
   		
 		/* Widgets */
  		#sidebar .flicker-image-wrapper { width: 180px; }
  		
  		#sidebar input{
  			padding-left: 0;
  			padding-right: 0;
  			background-image: none;
  			}
  			 
  		#sidebar input.email-newsletter { width:63.8%; }
  		#footer-widgets .radium-about-widget .directions-field { width: 77%; }
  		
  		#footer-widgets .quickcontact input[type="email"],
  		#footer-widgets .quickcontact input[type="text"], 
  		#footer-widgets .quickcontact input[type="password"], 
  		#footer-widgets .quickcontact textarea { width: 70% !important;}
    }
    
    
    /* =Tablet screens (landscape) ----------- */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) {
    /* Styles */
    
    
    }
	