
/*-----------------------------------------------------------------------------------

	The Radium Framewok CSS
 	
 	//Dont Edit this file unless you have to. This is the glue that holds everything together.
 	 
-----------------------------------------------------------------------------------*/
	
/*	--------------------------------------------------
:: Global Reset & Standards
-------------------------------------------------- */

/* 
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
	License: none (public domain)

We're using an adapted version here
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font: inherit;	vertical-align: baseline;}
html {	font-size: 62.5%; 	overflow-y: scroll;	-webkit-text-size-adjust: 100%;	-ms-text-size-adjust: 100%;	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body { line-height: 1;}
ol, ul { list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {	content: ''; content: none;}
q:before,
q:after,
blockquote:before,
blockquote:after { 	content: "";}
table {	border-collapse: collapse;	border-spacing: 0;}
body { background: #fff; font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; line-height: 18px; position: relative; -webkit-font-smoothing: antialiased; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]) {	display: none;}
sub, sup {	font-size: 75%;	line-height: 0;	position: relative;	vertical-align: baseline;}
sup {	top: -0.5em;}
sub {	bottom: -0.25em;}
img {	border: 0;		-ms-interpolation-mode: bicubic;}
button,input,select,textarea {	 font-size: 100%;	 margin: 0;	vertical-align: baseline;		*vertical-align: middle;}
button, input {	line-height: normal; *overflow: visible;}
button::-moz-focus-inner, input::-moz-focus-inner {	border: 0;	padding: 0;}
button,input[type="button"],input[type="reset"],input[type="submit"] {	cursor: pointer;	-webkit-appearance: button;}
input[type="search"] {		-webkit-appearance: textfield;	-webkit-box-sizing: content-box;	-moz-box-sizing: content-box; box-sizing: content-box;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
textarea {	overflow: auto;	vertical-align: top;}


/* Arfully Masterminded by ZURB */

/* --------------------------------------------------
:: Main Grid

This is the mobile-friendly, responsive grid that
lets Foundation work much of its magic.

-------------------------------------------------- */

.container { padding: 0 20px; }

.row { width: 100%; max-width: 980px; min-width: 727px; margin: 0 auto; }
/* To fix the grid into a certain size, set max-width to width */
.row .row { min-width: 0; }

.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
.column:first-child, .columns:first-child { margin-left: 0; }
[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: left; }

.row .one 		{ width: 4.3%; }
.row .two 		{ width: 13%; }
.row .three 	{ width: 21.679%; }
.row .four 		{ width: 30.37%; }
.row .five 		{ width: 39.1%; }
.row .six 		{ width: 47.8%; }
.row .seven 	{ width: 56.5%; }
.row .eight 	{ width: 65.2%; }
.row .nine 		{ width: 73.9%; }
.row .ten 		{ width: 82.6%; }
.row .eleven 	{ width: 91.3%; }
.row .twelve 	{ width: 100%; }

.row .offset-by-one 	{ margin-left: 13.1%;  }
.row .offset-by-two 	{ margin-left: 21.8%;  }
.row .offset-by-three 	{ margin-left: 30.5%;  }
.row .offset-by-four 	{ margin-left: 39.2%;  }
.row .offset-by-five 	{ margin-left: 47.9%;  }
.row .offset-by-six 	{ margin-left: 56.6%;  }
.row .offset-by-seven 	{ margin-left: 65.3%;  }
.row .offset-by-eight 	{ margin-left: 74.0%;  }
.row .offset-by-nine 	{ margin-left: 82.7%;  }
.row .offset-by-ten 	{ margin-left: 91.4%;  }

.row .centered { float: none; margin: 0 auto; }

.row .offset-by-one:first-child 	{ margin-left: 8.7%;  }
.row .offset-by-two:first-child 	{ margin-left: 17.4%;  }
.row .offset-by-three:first-child 	{ margin-left: 26.1%;  }
.row .offset-by-four:first-child 	{ margin-left: 34.8%;  }
.row .offset-by-five:first-child 	{ margin-left: 43.5%;  }
.row .offset-by-six:first-child 	{ margin-left: 52.2%;  }
.row .offset-by-seven:first-child 	{ margin-left: 60.9%;  }
.row .offset-by-eight:first-child 	{ margin-left: 69.6%;  }
.row .offset-by-nine:first-child 	{ margin-left: 78.3%;  }
.row .offset-by-ten:first-child 	{ margin-left: 87%;  }
.row .offset-by-eleven:first-child 	{ margin-left: 95.7%;  }

/* Source Ordering */
.push-two 		{ left: 17.4% }
.push-three 	{ left: 26.1%; }
.push-four 		{ left: 34.8%; }
.push-five 		{ left: 43.5%; }
.push-six 		{ left: 52.2%; }
.push-seven 	{ left: 60.9%; }
.push-eight 	{ left: 69.6%; }
.push-nine 		{ left: 78.3%; }
.push-ten 		{ left: 87%; }

.pull-two 		{ right: 17.4% }
.pull-three 	{ right: 26.1%; }
.pull-four 		{ right: 34.8%; }
.pull-five 		{ right: 43.5%; }
.pull-six 		{ right: 52.2%; }
.pull-seven 	{ right: 60.9%; }
.pull-eight 	{ right: 69.6%; }
.pull-nine 		{ right: 78.3%; }
.pull-ten 		{ right: 87%; }



img, object, embed { max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }
#map_canvas img, .map_canvas img {max-width: none!important;}
 
 /* Nicolas Gallagher's micro clearfix */
 .row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
 .row:after, .clearfix:after { clear: both; }
 .row, .clearfix { zoom: 1; }
 
 


/*	--------------------------------------------------
:: Block grids

These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */

.block-grid { display: block; overflow: hidden; }
.block-grid>li { display: block; height: auto; float: left; }

.block-grid.two-up { margin-left: -4% }
.block-grid.two-up>li { margin-left: 4%; width: 46%; margin-bottom: 4%;}
/* 	.block-grid.two-up>li:nth-child(2n+1) {clear: left;} */

.block-grid.three-up { margin-left: -2% }
.block-grid.three-up>li { margin-left: 2%; width: 31.2%; margin-bottom: 2%;}
/* 	.block-grid.three-up>li:nth-child(3n+1) {clear: left;} */

.block-grid.four-up { margin-left: -2% }
.block-grid.four-up>li { margin-left: 2%; width: 23%; margin-bottom: 2%;}
/* 	.block-grid.four-up>li:nth-child(4n+1) {clear: left;} */

.block-grid.five-up { margin-left: -1.5% }
.block-grid.five-up>li { margin-left: 1.5%; width: 18.5%; margin-bottom: 1.5%;}
/* 	.block-grid.five-up>li:nth-child(5n+1) {clear: left;} */


/* --------------------------------------------------
:: End Main Grid
-------------------------------------------------- */


/*	--------------------------------------------------
:: Links
-------------------------------------------------- */
a { text-decoration: none; outline: 0; line-height: inherit; }
a:active { outline: none; }
a:focus { outline: none;}
p a, p a:visited { line-height: inherit;  outline: 0; }


/*	--------------------------------------------------
:: Lists
-------------------------------------------------- */
ol {  list-style: decimal; }
ul {  list-style: disc; list-style: none outside;}
li {  line-height: 18px; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul, ol {margin: 0 0 18px 25px;}
ul ul, ul ol, ol ol, ol ul {  margin-bottom: 0;}
ul ul, ol ol { margin: 4px 0 5px 30px; }
ul.large li { line-height: 21px; }
ul.unstyled {  list-style: none;  margin-left: 0;}
dl {  margin-bottom: 18px;}
dl dt, dl dd {  line-height: 18px;}
dl dt { font-weight: bold;}
dl dd { margin-left: 9px;}


/*	--------------------------------------------------
:: Tables
-------------------------------------------------- */
table { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; width: 100%; margin: 0 0 18px; border: 1px solid #ddd;   padding: 0; }
table th, table td {padding: 10px 10px 9px; line-height: 18px; text-align: left;}
table th { padding-top: 9px; font-weight: bold; vertical-align: middle;}
table td {border-top: 1px solid #ddd; border-top: 1px solid #DDD; vertical-align: top;}
table tbody th {border-top: 1px solid #ddd;vertical-align: top;}
table thead { background: #f5f5f5; }
table thead tr th,
table tbody tr td { font-size: 12px; line-height: 18px; text-align: left; }
table thead tr th { padding: 8px 10px 9px; font-size: 14px; font-weight: bold; color: #222; }
table thead tr th:first-child { border-left: none; }
table thead tr th:last-child { border-right: none; }
table thead tr {  }
table tbody {  }
table tbody tr {  }
table tbody tr.even,
table tbody tr.alt { background: #f9f9f9; }
table tbody tr:nth-child(even) { background: #f9f9f9; }
table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }


/*	--------------------------------------------------
:: Typography
-------------------------------------------------- */
body, p{ font-size: 13px; line-height: 20px; font-weight: normal; }
small { font-size: 11px; line-height: inherit; }
.subheader { color: #777; font-weight: 300; margin-bottom: 24px; }
p.lead { font-size: 18px; line-height: 24px;  }
p small { font-size: 11px; color: #bfbfbf; }
hr {margin: 20px 0 19px;border: 0;	border-bottom: 1px solid #eee; border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 12px 0 18px; height: 0;}
strong {font-style: inherit;}
em {font-style: italic;	font-weight: inherit;	line-height: inherit;	}
.muted {color: #bfbfbf;}
em, i { font-style: italic; line-height: inherit; }
strong, b {line-height: inherit; }
abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #ddd; cursor: help; }
abbr { text-transform: none; }
address {display: block;line-height: 18px;margin-bottom: 18px;}
code, pre {
	padding: 0 3px 2px;
	font-family: Monaco, Andale Mono, Courier New, monospace;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}

code {
	background-color: #fee9cc;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
	}

pre {
	background-color: #f5f5f5;
	display: block;
	padding: 8.5px;
	margin: 0 0 18px;
	line-height: 18px;
	font-size: 12px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	}	

	
/*	Blockquotes  */
blockquote { margin-left: 28px; margin-top: 10px; margin-bottom: 18px; padding-left: 10px; border-left: 1px solid #ddd; }
blockquote p {	font-size: 12px; }
blockquote small {display: block;	font-size: 12px; font-weight: 300;	line-height: 18px;	color: #bfbfbf;	}
blockquote, blockquote p { line-height: 22px; color: #878787; }
blockquote cite { display: block; font-size: 12px;  color: #555; }
blockquote cite:before, blockquote small:before  { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited { color: #555; }


/* -------------------------------------------------- 
:: Misc
---------------------------------------------------*/
.left       { float: left; }
.right      { float: right; }
.hide     	{ display: none; }
.highlight 	{ background: #ff0; }
.align-center, 
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}

/*	--------------------------------------------------
	Microformats
-------------------------------------------------- */

/* hCard */
ul.vcard { display: inline-block; margin: 0 0 12px 0; border: 1px solid #ddd; padding: 10px; }
ul.vcard li { margin: 0; display: block; }
ul.vcard li.fn { font-weight: bold; font-size: 15px; font-size: 1.5rem; }

p.vevent span.summary { font-weight: bold; }
p.vevent abbr { cursor: default; text-decoration: none; font-weight: bold; border: none; padding: 0 1px; }


/**
	 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
 */
.print-only { display: none !important; }
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
	-ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
	p a, p a:visited { color: #444 !important; text-decoration: underline; }
	p a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
	.hide-on-print { display: none !important; }
	.print-only { display: block !important; }
	}
	
	
/* -------------------------------------------------------------- 
Basic WordPress  Styles   
-------------------------------------------------------------- */   
.entry-content img {  margin: 0 0 0.6em 0;}
.alignleft,img.alignleft { display: inline; float: left; margin-right: 1.5em;}
.alignright,img.alignright { display: inline;  float: right;margin-left: 1.5em;}
.aligncenter,img.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;	}
.wp-caption { text-align: center; margin-bottom: 1.5em;	}
.wp-caption p.wp-caption-text { margin: 0;}
.wp-caption img { border: 0 none; margin: 0; padding: 0;	}
.wp-smiley { max-height: 1em; margin:0 !important;}
.gallery dl { margin: 0;}
.gallery-caption {  margin:0.5em 0 0 0;}
.sticky { }
.bypostauthor { }
.visuallyhidden, 
.hidden { display:none; }


/* =Dynamic Widget Grid 
--------------------------------*/
.widget_row  { 
	width: 100%; 
	margin: 0 auto; 
	float: left; 
	max-width: 980px;
	}
	
.widget_row .widget { float: left; min-height: 1px; position: relative; margin:0 0 0 4.4%;}
.widget_row .widget:first-child { margin-left: 0; }

.widget_row .widget_1   { width: 100%; }
.widget_row .widget_2	{ width: 47.8%; }
.widget_row .widget_3	{ width: 30.37%; }
.widget_row .widget_4	{ width: 21.68%; }
.widget_row .widget_5	{ width: 65.2%; }
.widget_row .widget_6	{ width: 13%; }


/*  Structure
-------------------------------------------------- */
.fade {
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-ms-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
	opacity: 0;
	}
	
.fade.in {	opacity: 1;}    
	

/*  --------------------------------------------------
Pagination
------------------------------------------------- */ 
.pagination { 
	clear:both; 
	position:relative;
	}

.pagination span, 
.pagination a {
	float:left;
	cursor: pointer;
	display: inline-block;
	}

.pagination .pagination-meta{
    float: left;
    }	
	
/* Forms.less
* Base styles for various input types, form layouts, and states
* ------------------------------------------------------------- */
form {
	margin-bottom: 18px;
	}

fieldset {
	margin-bottom: 18px;
	padding-top: 18px;
	}

fieldset legend {
	display: block;
	font-size: 19.5px;
	line-height: 1;
	color: #404040;
	*padding: 0 0 5px 145px;
	/* IE6-7 */
	
	*line-height: 1.5;
	/* IE6-7 */
	
	}

form .clearfix {
	margin-bottom: 18px;
	zoom: 1;
	}

form .clearfix:before, 
form .clearfix:after {
	display: table;
	content: "";
	zoom: 1;
	}

form .clearfix:after {
	clear: both;
	}
	
label,
input,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	}
	
form label {
	display: block;
	line-height: 18px;
	cursor: pointer;
	margin-bottom: 9px;
	padding-top: 6px;
	float: left;
	width: 100%;
	text-align: left;
	}
	
form .input {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	}
	
input[type=checkbox], 
input[type=radio] {
	cursor: pointer;
	}
	
input,
textarea,
select,
.uneditable-input {
	display: inline-block;
	width: 96%;
	height: 18px;
	padding: 4px;
	line-height: 18px;
	color: #808080;
	border: 1px solid #ccc;
	}
	
input.input-text, 
textarea, 
select {
	display: block;
	margin-bottom: 9px;
	}
	
select {
	padding: initial;
	}
	
input[type=checkbox], 
input[type=radio] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	*margin-top: 0;
	/* IE6-7 */
	
	line-height: normal;
	border: none;
	}

input[type=file] {
	background-color: #ffffff;
	padding: initial;
	border: initial;
	line-height: initial;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}

input[type=button], 
input[type=reset], 
input[type=submit] {
	width: auto;
	height: auto;
	}

select, 
input[type=file] {
	height: 27px;
	*height: auto;
	line-height: 27px;
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	
	}

select[multiple] {
	height: inherit;
	background-color: #ffffff;
	}

textarea {
	height: auto;
	}

.uneditable-input {
	background-color: #ffffff;
	display: block;
	border-color: #eee;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	cursor: not-allowed;
	}

:-moz-placeholder {
	color: #bfbfbf;
	}

::-webkit-input-placeholder {
	color: #bfbfbf;
	}

input, 
textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	}

input:focus, 
textarea:focus {
	outline: 0;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	}

input[type=file]:focus, 
input[type=checkbox]:focus, 
select:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 1px dotted #666;
	}

p.error, form .error{
	color: #b94a48;
	}

.input-mini,
input.mini,
textarea.mini,
select.mini {
	width: 30%;
	}

.input-small,
input.small,
textarea.small,
select.small {
	width: 45%;
	}

.input-medium,
input.medium,
textarea.medium,
select.medium {
	width: 75%;
	}

.input-large,
input.large,
textarea.large,
select.large {
	width: 100%;
	}

textarea.large {
	overflow-y: auto;
	}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: #f5f5f5;
	border-color: #ddd;
	cursor: not-allowed;
	}

/* -----------------------------------------
	   Custom Forms
	----------------------------------------- */

	form.custom span.custom { display: inline-block; width: 14px; height: 14px; position: relative; top: 2px; border: solid 1px #ccc; background: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/custom-form-sprites.png) 0 0 no-repeat; }
	form.custom span.custom.radio { border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
	form.custom span.custom.radio.checked { background-position: 0 -14px; }
	form.custom span.custom.checkbox.checked { background-position: 0 -28px; }

	form.custom div.custom.dropdown { display: block; position: relative; width: auto; height: 28px; margin-bottom: 9px; margin-top: 2px; }
	form.custom div.custom.dropdown a.current { display: block; width: auto; line-height: 26px; min-height: 26px; padding: 0 38px 0 6px; border: solid 1px #ddd; color: #141414; background-color: #fff; word-wrap: nowrap; }
	form.custom div.custom.dropdown a.selector { position: absolute; width: 26px; height: 26px; display: block; background: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/custom-form-sprites.png) -14px 1px no-repeat; right: 0; top: 0; border: solid 1px #ddd; }
	form.custom div.custom.dropdown:hover a.selector,
	form.custom div.custom.dropdown.open a.selector { background-position: -14px -26px; }

	form.custom div.custom.dropdown ul { position: absolute; width: auto; display: none; margin: 0; left: 0; top: 27px; margin: 0; padding: 0; background: #fff; background: rgba(255,255,255,0.95); border: solid 1px #ddd; }
	form.custom div.custom.dropdown ul li { cursor: pointer; padding: 3px 38px 3px 6px; min-height: 18px; margin: 0; white-space: nowrap}
	form.custom div.custom.dropdown ul li.selected { background: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/custom-form-sprites.png) right -52px no-repeat; }
	form.custom div.custom.dropdown ul li:hover { background-color: #2a85e8; color: #fff; }
	form.custom div.custom.dropdown ul li.selected:hover { background: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/custom-form-sprites.png) #2a85e8 right -78px no-repeat; }
	form.custom div.custom.dropdown ul.show { display: block; }

	form.custom div.custom.dropdown.open ul { display: block; z-index: 10; }
	
	form.custom div.custom.dropdown.small { width: 134px !important; }
	form.custom div.custom.dropdown.medium { width: 254px !important; }
	form.custom div.custom.dropdown.large { width: 434px !important; }
	form.custom div.custom.dropdown.expand { width: 100% !important; }
	
	form.custom div.custom.dropdown.open.small ul { width: 132px !important; }
	form.custom div.custom.dropdown.open.medium ul { width: 252px !important; }
	form.custom div.custom.dropdown.open.large ul { width: 432px !important; }
	form.custom div.custom.dropdown.open.expand ul { width: 100% !important; box-sizing: border-box; }

	/* Custom input, disabled */
	form.custom .custom.disabled { background-color: #ddd; }


/* Pretiffy */
.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660} .linenums .tag { color: #1e347b; }.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}