/*
*
* Shortcode CSS styling.
* RadiumThemes Shortcodes Plugin
*
*/

/* =Column Sizes and Styles
--------------------------------------------------------------*/

.radium-one-half { width: 48%; }
.radium-one-third { width: 30.66%; }
.radium-two-third { width: 65.33%; }
.radium-one-fourth { width: 22%; }
.radium-three-fourth { width: 74%; }
.radium-one-fifth { width: 16.8%; }
.radium-two-fifth { width: 37.6%; }
.radium-three-fifth { width: 58.4%; }
.radium-four-fifth { width: 67.2%; }
.radium-one-sixth { width: 13.33%; }
.radium-five-sixth { width: 82.67%; }

.radium-one-half,
.radium-one-third,
.radium-two-third,
.radium-three-fourth,
.radium-one-fourth,
.radium-one-fifth,
.radium-two-fifth,
.radium-three-fifth,
.radium-four-fifth,
.radium-one-sixth,
.radium-five-sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 2em;
	float: left;
	}

.radium-column-last {
	margin-right: 0!important;
	clear: right;
	}

.radium-one-half,
.radium-one-third,
.radium-two-third,
.radium-three-fourth,
.radium-one-fourth { }

.radium-one-half,
.radium-one-third,
.radium-two-third,
.radium-one-fourth { }

/* =Tab Styles
--------------------------------------------------------------*/

.radium-tabs.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
	}

.radium-tabs {
	background: none;
	margin: 0 0 2em 0;
	}

.radium-tabs ul.radium-nav {
	list-style: none!important;
	margin: 0!important;
	padding: 0;
	background: none;
	border: 0;
	float: none;
	}

.radium-tabs ul.radium-nav li {
	float: left;
	position: relative;
	margin: 0 3px -1px 0!important;
	z-index: 10;
	list-style: none!important;
	}
	

.radium-tabs ul.radium-nav li a {
	border: 1px solid #e9ecee!important;
	border-bottom: none!important;
	display: block;
	overflow: hidden;
	padding: 5px 10px 0 10px;
	height: 22px;
	background: #FBFBFB;
	margin: 0!important;
	text-decoration: none;
	color: #1e2224!important;
	-webkit-border-radius: 3px 3px 0 0;
	   -moz-border-radius: 3px 3px 0 0;
	   		border-radius: 3px 3px 0 0;
			   font-weight: bold;
		   }
	
.radium-tabs ul.radium-nav li a:hover {
	background: #fff!important;
	margin: 0!important;
	}

.radium-tabs ul.radium-nav li.ui-tabs-selected a {
	height: 23px;
	background: #fff;
	}

.radium-tabs .radium-tab {
	background: #fff;
	padding: 10px;
	border: 1px solid #dfdfdf;
	}

/*-----------------------------------------------------------------------------------*/
/*	Toggle Styles
/*-----------------------------------------------------------------------------------*/

.radium-toggle { margin: 0 0 12px 0; }

.radium-toggle .radium-toggle-title {
	display: block;
	font-weight: bold;
	font-size: 15px;
	color: #434649;
	padding: 10px 10px 10px 14px; 
	background: #EAECEF;
	cursor: pointer;
	outline: none;
	position: relative;
	transition: all 0.2s ;
		-webkit-transition: all 0.2s ;
		-moz-transition: all 0.2s ;
		-ms-transition: all 0.2s ;
		-o-transition: all 0.2s ;
		}
	
.radium-toggle .radium-toggle-title:hover {	
	background: #1e2224; 
	color: #E6e8eb;
	}

.radium-toggle-inner {
	padding: 14px 14px 10px 14px;
	background: #fff;
	border-top: none;
	border: 1px solid #EAECEF;
	}

.radium-toggle span.ui-icon {
    background: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/plus-minus.png) -10px -10px no-repeat;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 17px;
    margin: -4px 0 0 0;
	}

.radium-toggle .ui-state-active .ui-icon { background: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/plus-minus.png)  -40px -10px no-repeat; }

.radium-toggle .ui-state-active {
	background-color: #1e2224;
	color: #E6e8eb;
	}
	

/* =Highlight
--------------------------------------------------------------*/

span.highlight { 
	background: #FFFFAA; 
	padding: 3px 3px 1px; 
	color: #1e2224;	
	}


/* =Drop Caps
--------------------------------------------------------------*/
.dropcap,
.dropcap1 {
	display: block;
	float: left;
	font-size: 38px;
	line-height: 32px;
	margin: 4px 8px 0 0;
	}
	
.dropcap2,
.dropcap3{
	display:block;
	float:left;
	font-size:18px;
	line-height:35px;
	width:35px;
	text-align: center;
	margin:4px 8px 0 0;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	}
	
.dropcap3{
	background-color: #000;
	color:#fff;	
	}

/* =Call to Action
--------------------------------------------------------------*/
.cta-wrapper {
	width: 100%;
	float: left;
	background-color: #1e2224;
	margin: 4px 0;
	position: relative;
	}
	
.cta-wrapper .cta-content {
	width: 67%;
	float: left;
	font-size: 13px;
	}
		
.cta-wrapper .cta-action { 
	width: 30%;
	float: left;
	}

.cta-wrapper .cta-content { padding: 13px; }
	
.cta-wrapper .cta-title { 
	line-height: 21px;
	text-align: left;
	margin-bottom: 0px;
 	}
			
.cta-wrapper .cta-tag-line {
	font-size: 18px;
 	text-align: left;
	margin:15px 0 0 3px;
	color: #e6e8eb;
	font-weight: bold;
	}
	
.cta-wrapper .button.large,
.cta-wrapper .btn.large{
	padding: 10px 20px;
	background-color: #F53C3C;
	color: #FFF;
	float: right;
	margin: 18px 13px;
	text-align: center;
	}

.cta-wrapper .button.large:hover,
.cta-wrapper .btn.large:hover{
	background-color: #36393c;
	color:#FFF ;
	}
	
.cta-wrapper .button span.desc,
.cta-wrapper .btn span.desc {
	text-align: center;
	clear: both;
	display: block;
	font-size: 12px;
	padding-top: 5px;
	}
	
.cta-wrapper .btn [class^="button-"], 
.cta-wrapper .btn [class*=" button-"] { margin-top: 2px; }

/* light Cta */
.cta-wrapper.light { background-color: #e9ebed; } 
 	
.cta-wrapper.light .cta-tag-line { color: #1e2224; }
		
/* =Client list
--------------------------------------------------------------*/

ul.clients{
	float: left;
	margin: 0 0 0 0;
	padding: 2px 0;
	width: 100%;
	background: #eaecef; 
	}
	
.clients li {
	background: #eaecef; 
	width: auto; 
	float: left; 
	border-left-style: solid; 
	text-align: center;  
	height: auto; 
	overflow: hidden; 
	position: relative; 
	display: table; 
	position: static; 
	margin-bottom: 0px !important;
	margin-right: 27px;
	margin-left: 24px;
	}

.clients li:first-child { 
	border-left: none; 
	margin-left: 25px;
	}

.clients li div { 
	display: table-cell; 
	vertical-align: middle; 
	}
	
.clients li div:hover { opacity: .5; } 

.clients img {
	margin: 0 auto;
	display: inline-block;
	}
	
.clients div {  
	-webkit-transition-property: opacity background color; 
	-webkit-transition-duration: 0.20s; 
	-webkit-transition-timing-function: ease-out; 
	-moz-transition-property: opacity background color; 
	-moz-transition-duration: 0.20s; 
	-moz-transition-timing-function: ease-out; 
	-o-transition-property: opacity background color; 
	-o-transition-duration: 0.20s; 
	-o-transition-timing-function: ease-out;
	}


/* Divider Shortcode */
.hr {
	clear: both;
	display: block;
	overflow: hidden;
	width: 100%;
 	position: relative;
     z-index: 1;
  	line-height:21px;
	background:url(http://www.reyami.com/wp-content/themes/frontline/assets/images/divider.png) 0 50% repeat-x;
	margin-top: -2px;
	margin-bottom:8px;
	min-height: 2px;
	}
	
.hr a {	padding: 0 0 0 10px; }
		
.skip {
	float: right;
 	color: #8F949D;
	background:white;
 	}
 	
.hr_invisible {
	clear: both;
	display: block;
	width: 100%;
	margin: 0 0 0 0;
	background: transparent;
   	}
	
/* Slogan */
.slogan {
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 300;
	letter-spacing: -0.1px;
	line-height: 24px;
	}
 	
/* Lists */
div.arrow1_bullets { list-style-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/arrow1_bullet.png);	}
div.arrow1_bullets ul {	list-style-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/arrow1_bullet.png); }
div.arrow1_bullets li {	margin:5px 0 0 -6px; }

div.arrow1_bullets { list-style-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/list1.png); }
div.arrow1_bullets ul { list-style-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/list1.png); }
div.arrow1_bullets li { margin:8px 0 0 -6px; }
	

div.arrow2_bullets { list-style-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/list2.png); }
div.arrow2_bullets ul { list-style-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/list2.png); }
div.arrow2_bullets li { margin: 8px 0; }

div.arrow3_bullets { list-style-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/list3.png); }
div.arrow3_bullets ul { list-style-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/list3.png); }
div.arrow3_bullets li { margin: 8px 0; }


/* Message Boxes*/

.messageBox {
		padding: 10px 10px 10px 12px;
		margin: 10px 0 12px 0;
		background: rgb(251,251,252); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(251,251,252,1) 0%, rgba(248,248,249,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,252,1)), color-stop(100%,rgba(248,248,249,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(251,251,252,1) 0%,rgba(248,248,249,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(251,251,252,1) 0%,rgba(248,248,249,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(251,251,252,1) 0%,rgba(248,248,249,1) 100%); /* IE10+ */
		background: linear-gradient(top,  rgba(251,251,252,1) 0%,rgba(248,248,249,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfc', endColorstr='#f8f8f9',GradientType=0 ); /* IE6-9 */
		border: 1px solid #c3c3c3;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
			-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
		color: #1e2224;
		font: normal 12px/20px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, Geneva, sans-serif;
		transition: 0.1s linear all;
			-webkit-transition: 0.1s linear all;
			-moz-transition: 0.1s linear all;
			-ms-transition: 0.1s linear all;
			-o-transition: 0.1s linear all;	}

.messageBox .closeBox {
	float: right;
	font-size: 11px; 
	font-weight: bold;
	margin: -6px 1px 8px 10px; 
	cursor: pointer; 
	color: rgba(0, 0, 0, 0.45);
	}
	
.messageBox.icon { 
	background-position: 15px 2px;
	background-repeat: no-repeat;
	padding-left: 63px;
	}

/* note */
.messageBox.note {
	background: rgb(255,252,235); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,252,235,1) 0%, rgba(253,248,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,252,235,1)), color-stop(100%,rgba(253,248,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,252,235,1) 0%,rgba(253,248,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,252,235,1) 0%,rgba(253,248,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,252,235,1) 0%,rgba(253,248,224,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,252,235,1) 0%,rgba(253,248,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffceb', endColorstr='#fdf8e0',GradientType=0 ); /* IE6-9 */
	color: #975507;
	border: 1px solid #e9c78c;
	}
	
.messageBox.note .closeBox { color: #975507; }

/* Info box */
.messageBox.info {
	background: rgb(242,248,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,248,255,1) 0%, rgba(230,243,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,248,255,1)), color-stop(100%,rgba(230,243,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,248,255,1) 0%,rgba(230,243,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,248,255,1) 0%,rgba(230,243,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,248,255,1) 0%,rgba(230,243,254,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(242,248,255,1) 0%,rgba(230,243,254,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f8ff', endColorstr='#e6f3fe',GradientType=0 ); /* IE6-9 */
	color: #204479;
	border: 1px solid #c2cef1;
	}

.messageBox.info .closeBox { color: #204479; }
  
/* Error box */
.messageBox.error { 
	background: rgb(255,242,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,242,242,1) 0%, rgba(254,230,230,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,242,242,1)), color-stop(100%,rgba(254,230,230,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,242,242,1) 0%,rgba(254,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,242,242,1) 0%,rgba(254,230,230,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,242,242,1) 0%,rgba(254,230,230,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,242,242,1) 0%,rgba(254,230,230,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff2f2', endColorstr='#fee6e6',GradientType=0 ); /* IE6-9 */
	color: #8b0f0f;
	border: 1px solid #f3c0c0;
	}

.messageBox.error .closeBox { color: #8b0f0f; }
 
/* Success box */
.messageBox.success { 
	background: rgb(231,253,223); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(231,253,223,1) 0%, rgba(220,247,215,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,253,223,1)), color-stop(100%,rgba(220,247,215,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(231,253,223,1) 0%,rgba(220,247,215,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(231,253,223,1) 0%,rgba(220,247,215,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(231,253,223,1) 0%,rgba(220,247,215,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(231,253,223,1) 0%,rgba(220,247,215,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7fddf', endColorstr='#dcf7d7',GradientType=0 ); /* IE6-9 */
	color: #11601c;
	border: 1px solid #b8dca6;
	}
 
.messageBox.success .closeBox { 
	color: #11601c;
	}

/* Icon boxes */
.iconbox {
	overflow: hidden;
	float: left;
	min-height: 1px;
	position: relative;
	}

.iconbox p { margin-bottom: 35px; }

.iconbox_icon .icon {
	width: 32px;
	height: 32px;
	margin: 3px 12px 0 0;
	float: left;
	background-repeat: no-repeat;
	}

.iconbox_content { overflow: hidden; }

.iconbox .iconbox_content .iconbox_content_title { }

.iconbox_icon .briefcase-red { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/briefcase-red.png); }	
	
.iconbox_icon .briefcase { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/briefcase.png); }

.iconbox_icon .calendar { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/calendar.png); }

.iconbox_icon .clipboard { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/clipboard.png); }

.iconbox_icon .cloud { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/cloud.png); }

.iconbox_icon .code { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/code.png); }

.iconbox_icon .cog { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/cog.png); }

.iconbox_icon .files { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/files.png); }	

.iconbox_icon .folder { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/folder.png); }

.iconbox_icon .home { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/home.png); }

.iconbox_icon .mac { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/mac.png); }

.iconbox_icon .map { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/map.png); }	

.iconbox_icon .minus { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/minus.png);}

.iconbox_icon .notebook { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/notebook.png); }

.iconbox_icon .notes { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/notes.png); }

.iconbox_icon .paper { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/paper.png); }

.iconbox_icon .pencil { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/pencil.png); }

.iconbox_icon .plus { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/plus.png); }

.iconbox_icon .settings { background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/settings.png); }

.iconbox_icon .umbrella{ background-image: url(http://www.reyami.com/wp-content/themes/frontline/assets/images/shortcodes/icons/32x32/umbrella.png); }
	
		
/* Buttons Icons
---------------------------------------------- */
.btn [class^="button-"],
.btn [class*=" button-"] {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: text-top;
	background-repeat: no-repeat;
	background-position: center left;
	background-color:transparent ;
	padding: 0 0 0 8px;
	margin-top: -1px;
	margin-left: -3px;
	}


.btn .button- none {
	width: 0px;
	height: 0px;
	margin: 0 0 0 0;
	}

.btn .button-add {
	background-image: url("../images/shortcodes/icons/16x16/buttons/add.png");
	}
.btn .button-attach {
	background-image: url("../images/shortcodes/icons/16x16/buttons/attach.png");
	}
.btn .button-cart {
	background-image: url("../images/shortcodes/icons/16x16/buttons/cart.png");
	}
.btn .button-close {
	background-image: url("../images/shortcodes/icons/16x16/buttons/close.png");
	}	
.btn .button-delete {
	background-image: url("../images/shortcodes/icons/16x16/buttons/delete.png");
	}
.btn .button-download {
	background-image: url("../images/shortcodes/icons/16x16/buttons/download.png");
	}
.btn .button-heart {
	background-image: url("../images/shortcodes/icons/16x16/buttons/heart.png");
	}
.btn .button-link {
	background-image: url("../images/shortcodes/icons/16x16/buttons/link.png");
	}	
.btn .button-load {
	background-image: url("../images/shortcodes/icons/16x16/buttons/load.png");
	}
.btn .button-mail {
	background-image: url("../images/shortcodes/icons/16x16/buttons/mail.png");
	}	
.btn .button-paintbrush {
	background-image: url("../images/shortcodes/icons/16x16/buttons/paintbrush.png");
	}	
.btn .button-refresh {
	background-image: url("../images/shortcodes/icons/16x16/buttons/refresh.png");
	}
.btn .button-settings {
	background-image: url("../images/shortcodes/icons/16x16/buttons/settings.png");
	}
.btn .button-twitter {
	background-image: url("../images/shortcodes/icons/16x16/buttons/twitter.png");
	}
.btn .button-upload {
	background-image: url("../images/shortcodes/icons/16x16/buttons/upload.png");
	}	
											
/* Social Icons
---------------------------------------------- */
a.social-icons {
	float: left;
	display: block;
	position: relative;
	padding-right: 5px;
	margin-bottom: -1px;
	}

.icon32 {
	display: inline-block; 
	width: 34px; 
	height: 34px; 
	}

/* social icons */
.icon32.iconSocial { 
	background:url(http://www.reyami.com/wp-content/themes/frontline/assets/images/icons/social-bar.png) no-repeat 0 0;
	transition: all 0.2s ;
	-webkit-transition: all 0.2s ;
	-moz-transition: all 0.2s ;
	-ms-transition: all 0.2s ;
	-o-transition: all 0.2s ;
	}


.icon32.iconSocial.twitter { background-position: -1px 0px; background-color: #02b0e8; }
.icon32.iconSocial.twitter:hover { background-position: -1px -35px; background-color: #1e2224 }

.icon32.iconSocial.facebook { background-position: -35px 0px; background-color: #3b5997; }
.icon32.iconSocial.facebook:hover { background-position: -35px -35px; background-color: #1e2224; }

.icon32.iconSocial.googleplus { background-position: -71px 0px; background-color: #0a9d35; }
.icon32.iconSocial.googleplus:hover { background-position: -71px -35px; background-color: #1e2224; }  

.icon32.iconSocial.linkedin { background-position: -105px 0px; background-color: #0b84c3;  }
.icon32.iconSocial.linkedin:hover { background-position: -105px -35px; background-color: #1e2224; }  
    
.icon32.iconSocial.zerply { background-position: -141px 0px; background-color: #a3e056;  }
.icon32.iconSocial.zerply:hover { background-position: -141px -35px; background-color: #1e2224;  }

.icon32.iconSocial.rss { background-position: -173px 0px; background-color: #fb7922;  }
.icon32.iconSocial.rss:hover { background-position: -173px -35px; background-color: #1e2224;  }

.icon32.iconSocial.dribbble { background-position: -210px 0px; background-color: #cd316b;  }
.icon32.iconSocial.dribbble:hover { background-position: -210px -35px; background-color: #1e2224;  }

.icon32.iconSocial.reddit { background-position: -245px 0px; background-color: #fe4502;}
.icon32.iconSocial.reddit:hover { background-position: -245px -35px; background-color: #1e2224; }

.icon32.iconSocial.vimeo { background-position: -279px -1px; background-color: #9dc647;}
.icon32.iconSocial.vimeo:hover { background-position: -279px -36px; background-color: #1e2224; }

.icon32.iconSocial.youtube { background-position: -315px -2px;  background-color: #d61c1f;  }
.icon32.iconSocial.youtube:hover { background-position: -315px -37px;  background-color: #1e2224;  }

.icon32.iconSocial.forrst { background-position: -351px -1px; background-color: #1c7a37;  }
.icon32.iconSocial.forrst:hover { background-position: -351px -36px; background-color: #1e2224;  }

.icon32.iconSocial.flickr { background-position: -386px 0px;  background-color: #fa057a;  }
.icon32.iconSocial.flickr:hover { background-position: -386px -35px;  background-color: #1e2224;  }

.icon32.iconSocial.digg { background-position: -420px -1px; background-color: #00549c;  }
.icon32.iconSocial.digg:hover { background-position: -420px -36px; background-color: #1e2224;  }

.icon32.iconSocial.github { background-position: -455px 0px; background-color: #3e78aa;}
.icon32.iconSocial.github:hover { background-position: -455px -35px; background-color: #1e2224; } 

.icon32.iconSocial.pinterest { background-position: -490px -1px; background-color: #de464a;}
.icon32.iconSocial.pinterest:hover { background-position: -490px -36px; background-color: #1e2224; } 

.icon32.iconSocial.stumbleupon { background-position: -525px 0px; background-color: #f94e20;}
.icon32.iconSocial.stumbleupon:hover { background-position: -525px -35px; background-color: #1e2224; }    

.icon32.iconSocial.delicious { background-position: -561px 0px; background-color: #4444ec;  }
.icon32.iconSocial.delicious:hover { background-position: -561px -35px; background-color: #1e2224; } 

.icon32.iconSocial.foursquare { background-position: -595px 0px; background-color: #1fb2df;}
.icon32.iconSocial.foursquare:hover { background-position: -595px -35px; background-color: #1e2224; }

.icon32.iconSocial.behance { background-position: -630px -1px; background-color: #189afb;}
.icon32.iconSocial.behance:hover { background-position: -630px -36px; background-color: #1e2224; }

.icon32.iconSocial.yelp { background-position: -666px -1px; background-color: #b92718; }
.icon32.iconSocial.yelp:hover { background-position: -666px -36px; background-color: #1e2224; }  
	
	
/* Pricing Tables */

.price-column button.signup, 
.price-column.button.signup, 
.price-column .btn.signup { 
	margin-left: -10px;
	margin-top: 3px;
	}
   
button.signup:hover, 
.button.signup:hover, 
.btn.signup:hover { color: #FFF; }

.price-column { 
	float: left; 
	margin: 4px 2% 0 0;
	background: #FFF; 
	border: 1px solid #e9ecee;
    }
   
.price-column ul {
	font-size: 12px;
	margin: 0 0 0 0;
	}
  
.price-column li {
	border-top: 1px solid #e9ecee;
	border-bottom: 1px solid #e9ecee;
	margin-top: -1px;
	padding: 10px 0 10px 40px;
	background: transparent url('../images/shortcodes/enabled.png') no-repeat 10px 10px; 
	}

.price-column li.enabled {}
.price-column li.disabled {	background: transparent url('../images/shortcodes/disabled.png') no-repeat 10px 10px;}
 
.price-column li:last-child{
	background: none;
	border-bottom: none;
	margin-right: none!important; 
	}
	
.price-column p { 
	padding: 10px 0;
	margin: 0 15px; 
	}
	
.price-column .column-title {
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	background-color: #1e2224;
	padding: 15px 10px;
	margin-bottom: 0;
	font-weight: 600;
	color: #E6E8EB;
	line-height: normal;
	}

.price-column .column-title>span { }

.price-column .column-title span span { padding: 0 5px; }

.price-info {
	color: #1e2224;
	font-size: 20px;
	font-family: georgia;
	font-weight: bold;
	display: block;
	padding: 11px 0;
	text-align: center;
	}

.price-info .cost {
	font-size: 26px;
	line-height: 28px;
	}
	
.price-info .details {
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
	color: #9E9E9E;
	padding-top: 2px;
	padding-left: 5px;
	}
	
.price-column .signup {}
		
.price-column .last-divider{
	background-color: #eaecef;
	font-weight: 600;
	color: #515151;
	line-height: normal;
	height: 10px;
	width: 100%;
	}
		
.price-table .highlight-column { }

.price-table .highlight-column .column-title {	}

.price-table .highlight-column .cost { }

.two-column-table .price-column { 
	width: 40%;
	float: left!important;
	}
	
.three-column-table .price-column {
 	width: 31.9%%;
 	float: left!important;
 	}
  
.four-column-table .price-column {
	width: 23.2%; 
	float: left!important;
	}
 
 .five-column-table .price-column { 
 	width: 19%; 
 	float: left!important;
 	}
 
 .six-column-table .price-column { 
 	width: 16%;
 	float: left!important; 
 	}
 	
.one-column-table .price-column:last-child, 
.two-column-table .price-column:last-child, 
.three-column-table .price-column:last-child,
.four-column-table .price-column:last-child,
.five-column-table .price-column:last-child,
.six-column-table .price-column:last-child { margin-right: 0px; }

.five-column-table .price-column .column-title { font-size: 18px; }
	
.five-column-table	.price-info { font-size: 15px; }

.five-column-table	.price-info .details { font-size: 13px; }
	
.five-column-table .price-column ul {
	font-size: 14px;
	padding: 3px 10px 10px 10px;
	}
	
.five-column-table .price-column li {
	border-bottom: none;
	padding: 10px 0 8px 25px;
	margin: 0 15px;
	line-height: 17px;
	font-size: 12px;
	min-height: 18px;
	background: transparent url('../images/shortcodes/enabled.png') no-repeat -1px 10px; 
	}

.six-column-table .price-column .column-title {	font-size: 18px;}
.six-column-table	.price-info { font-size: 15px; }
.six-column-table .details { font-size: 14px; }
.six-column-table .price-column ul {
	font-size: 14px;
	padding: 3px 10px 10px 10px;
	}
	
.six-column-table .price-column li {
	padding: 8px 0 8px 5px;
	margin: 0 15px;
	line-height: 1em;
	min-height: 18px;
	}	

/* =Sliding portfolio
----------------------------------------------- */

.radium-carousel-wrapper .section-title { 
	clear: both;
	display: block;
	font: bold 15px/24px Helvetica, Arial, sans-serif;
	}

.radium-carousel > li, 
.carousel-items-wrapper > article {
	float: left;
	list-style: none;
	overflow: hidden;
	position: relative;
	}

.radium-carousel .post-thumb {
	position: relative;
	background: transparent;
	width: 220px;
	height: 136px;
	margin-bottom: 7px;
	}
	
.radium-carousel .post h3, 
.radium-carousel .post p {
	padding-left: 41px;
	margin-bottom: 5px;
	}
	
.radium-carousel h4 {
	margin-bottom: 0;
	text-align: center;
	}

.radium-carousel .portfolio .categories { text-align: center; }
	
.radium-carousel p {
	line-height: 19px;
	font-size: 11px;
	}
	
.radium-carousel .gallery p {
	text-align: center;
	font-size: 12px;
	}
	
.radium-carousel span.post-format {
	width: 30px;
	height: 30px;
	background-position: -285px -6px;
	}

.radium-carousel span.post-format:hover {
	width: 30px;
	height: 30px;
	background-position: -285px -46px;
	}
	
.radium-carousel span.post-format { background-position: -285px -6px; }
.radium-carousel span.post-format:hover { background-position: -285px -46px; }

.radium-carousel span.post-format.aside { background-position: -5px -6px; }
.radium-carousel span.post-format.aside:hover { background-position: -5px -46px; }

.radium-carousel span.post-format.audio { background-position: -85px -6px; }
.radium-carousel span.post-format.audio:hover { background-position: -85px -46px; }
	
.radium-carousel span.post-format.image { background-position: -46px -6px; }
.radium-carousel span.post-format.image:hover { background-position: -46px -46px; }

.radium-carousel span.post-format.gallery { background-position: -324px -5px; }
.radium-carousel span.post-format.gallery:hover { background-position: -324px -45px; }
		
.radium-carousel span.post-format.video { background-position: -165px -5px; }
.radium-carousel span.post-format.video:hover { background-position: -165px -45px; }

.radium-carousel span.post-format.link { background-position: -126px -6px; }
.radium-carousel span.post-format.link:hover { background-position: -126px -46px; }

.radium-carousel span.post-format.chat { background-position: -285px -6px; }
.radium-carousel span.post-format.chat:hover { background-position: -285px -46px; }	

.radium-carousel span.post-format.quote { background-position: -246px -5px; }
.radium-carousel span.post-format.quote:hover { background-position: -246px -45px; }		

.radium-carousel span.post-format.status { background-position: -201px -6px; }
.radium-carousel span.post-format.status:hover { background-position: -201px -46x; }	
		
.radium-sliding { 
	margin-bottom: 45px; 
	max-width: 100%; 
	overflow: hidden; 
	clear: both; 
	}
	
.radium-sliding header { z-index: 99; }

.radium-sliding header nav { }

.radium-sliding header nav a { 
	display: inline-block; 
	width: 16px; 
	height: 16px; 
	background: #ccc;
 	text-indent: -9999px; 
 	background-image: url(../images/arrows-carousel.png);
 	background-repeat: no-repeat; 
 	background-position-x:6px; 
 	}
 	
.radium-sliding header nav a.next { background-position: 6px -20px; }
.radium-sliding header nav a.prev { background-position: 6px 4px; }

.carousel-items { 
	overflow: hidden; 
	height: 250px; 
	}
	
.carousel-items li { 
	float: left; 
	width: 240px; /* image width + 20px */  
	}
	
.carousel-items li:first-child { margin-left: 0px; }

.carousel-items li a { 
	display: block; 
	position: relative;
 	overflow: hidden;
 	}
 	
.carousel-items li article.post {
 	background: none;
 	padding-top: 0;
 	}
 	
.carousel-items li .post-thumb a, 
.carousel-items li .post-thumb a img{ 
	width: 220px; 
	height: 136px; 
	} /* dimensions */
	
	
.carousel-item.format-standard .entry-summary {
	padding-left: 40px;
	margin-top: 10px;
	}

.carousel-item.format-gallery .entry-summary { }
	
.carousel-item h3,
.carousel-item h3 a,
.carousel-item h4,
.carousel-item h4 a, 
.carousel-item p {
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	width: 170px; 
	}

.radium-carousel-wrapper .headline { margin-top: 3px; }
	
/*	Carousel Navigation */
	
.jcarousel-container {
	margin: -6px -20px 35px 0;
	max-width: 100%;
	}
	
.jcarousel-container article.post { padding-top: 0px;	}
	
.jcarousel-clip {
	overflow: hidden;
	width: 100%;
	}
	
.jcarousel-item {
	margin: 0 20px 5px 0;
	width: 220px;
	}
	
.jcarousel-next, .jcarousel-prev {
	background: #F53C3C url(http://www.reyami.com/wp-content/themes/frontline/assets/images/nav-arrows.png) no-repeat 0 0;
	cursor: pointer;
	height: 21px;
	width: 21px;
	position: absolute;
	right: 23px;
	top: -49px;
	margin-left: 2px;
	transition: all 0.2s;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
	}
	
.jcarousel-next {
	background-position: -21px 0px;
	right: 0px;
	}
	
.jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active,
.jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active {
	background-color: #1e2224;
	}
	
.jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active { background-position: -21px -21px; }

.jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active { background-position: 0 -21px; }	
	
.jcarousel-next-disabled, .jcarousel-next-disabled:hover,
.jcarousel-next-disabled:focus, .jcarousel-next-disabled:active,
.jcarousel-prev-disabled, .jcarousel-prev-disabled:hover,
.jcarousel-prev-disabled:focus, .jcarousel-prev-disabled:active {
	background-color: #EAECEF !important;
	cursor: auto !important;
	background-position: 0 0;
	}

.jcarousel-next-disabled, .jcarousel-next-disabled:hover,
.jcarousel-next-disabled:focus, .jcarousel-next-disabled:active { background-position: -21px -21px; }
	
/* Gmap */
iframe.radium-gmap { max-width: 100%; }
	
	  
/*--------------------------------------------------
 :: =Mobile
 -------------------------------------------------- */
 			
@media only screen and (max-width: 800px) {
	
}
	
/* =Mobile */
@media only screen and (max-width: 767px) {
	
	/* Shortcode Grid */
	.radium-one-half,
	.radium-one-third,
	.radium-two-third,
	.radium-three-fourth,
	.radium-one-fourth,
	.radium-one-fifth,
	.radium-two-fifth,
	.radium-three-fifth,
	.radium-four-fifth,
	.radium-one-sixth,
	.radium-five-sixth {
			margin-right: 0;
			width: 100%;
			}
  	
	/*Slider*/
	
	.radium-slider ul.slides.loading { height: 140px; }
		
	.radium-slider article header h1, 
	.radium-slider article header h2, 
	.radium-slider article header h3, 
	.radium-slider article header h4 {
 		line-height: 13px;
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 9px;
 		}
	
	/*Carousel */
	.radium-carousel-wrapper .section-title { max-width: 84%; }
	
	.jcarousel-item { width:280px;  }
		
	.radium-carousel .post-thumb {
		margin: 0 auto;
		width: 100%;
		height: 136px;
		overflow: hidden;
		}
		
	.radium-carousel .post-thumb img { width: 100%; }
		
	.radium-carousel span.post-format { display: block; }
		
	/* Icon Boxes */	
	div.iconbox {
		width: 100%;
		margin-right: 0;
		}
	
	/* Clients List */
	.clients li { 
		width: 100%; 
		margin-left: 0; 
		margin-right: 0; 
		}
	
	.clients li:first-child { 
		margin-left: 0; 
		margin-right: 0; 
		}
	
	/*CTA*/
	.cta-wrapper { margin: 0 0 15px 0; }
			
	.cta-wrapper .cta-content {
		width: 100%;
		padding: 0;
		}
		
	.cta-wrapper .cta-tag-line { padding: 0 13px 13px 13px; }
			
	.cta-wrapper .cta-action {
		width: 100%;
		padding: 0 0 0 0;
		}
	
	.cta-wrapper .button.large, 
	.cta-wrapper .btn.large {
		float: left;
 		width: 100%;
 		padding-left: 0;
 		padding-right: 0;
 		margin: 0 ;
		}
		
	/* Pricing Tables */			
	.one-column-table .price-column,	
	.two-column-table .price-column,
	.three-column-table .price-column,
	.four-column-table .price-column {
		width: 280px;
 		margin: 20px auto;
 		display: block;
		}
		
	.price-column li:last-child { padding-left: 70px; }	
}

/* =Tablet screens */
@media only screen and (device-width: 768px), (device-width: 800px) {
	
}

/* =Tablet screens (portrait  mode)*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}
